Easy_RAG (1).json
{
  "name": "Easy RAG",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        -500
      ],
      "id": "3dd29291-d59b-4002-ada2-810772d559b0",
      "name": "When chat message received",
      "webhookId": "7e006c25-19c2-4d61-91bb-82bb5f5d5824"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        0
      ],
      "id": "65dbf3c9-cb05-4a0b-85ec-8829e4d178c3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7HhH4eDXDvpWgvde",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        280
      ],
      "id": "23c6410d-778f-45fe-b48b-9748cdadd0a1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pAaXMCOABLw11Nf1",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1380,
        240
      ],
      "id": "d5d8199b-2fe2-4de3-a599-9b436afb9c82",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1520,
        440
      ],
      "id": "bde6dc7c-7f9a-4bfe-b8f8-ae09601429f2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sei un assistente personale che risponde a domande basate esclusivamente sui documenti aziendali memorizzati nel tool 'company_vs'. Per ogni domanda, usa il tool per recuperare informazioni rilevanti e basa la tua risposta solo sui dati recuperati. Se non trovi informazioni pertinenti, rispondi: 'Non ho informazioni sufficienti nei documenti per rispondere a questa domanda."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        380,
        -680
      ],
      "id": "58b18cfb-bde7-4a30-9c24-8542b5ff00d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        -460
      ],
      "id": "a13549c6-d3ad-4585-936e-3fb1b2abd2ce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pAaXMCOABLw11Nf1",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        -440
      ],
      "id": "290cf967-205a-4463-a114-416f357c11e4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "company_FAQ_RAG",
        "embeddingBatchSize": 50
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        1240,
        -20
      ],
      "id": "a65dee71-72d7-4ddf-85bf-185627bc8d21",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -120
      ],
      "id": "850a04e9-1872-4324-b415-e37b21b55c79",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        -320
      ],
      "id": "67ad388d-c752-46e0-8c5a-81ecf005b064",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "pAaXMCOABLw11Nf1",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_vs",
        "toolDescription": "Recupera informazioni da documenti aziendali, come FAQ, report, o eventi specifici (es. notizie del 2025), quando l'utente fa domande su policy, eventi, o dati aziendali.",
        "memoryKey": "company_FAQ_RAG",
        "topK": 40
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        600,
        -480
      ],
      "id": "3b52f100-5fcf-422f-a1a3-ccce589da861",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gqocYOA0WG5vphsMZquLikvt0FgZ9JlK",
            "mode": "list",
            "cachedResultName": "N8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gqocYOA0WG5vphsMZquLikvt0FgZ9JlK"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        0
      ],
      "id": "4e1acdbf-256f-4875-9592-3206531d268a",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7HhH4eDXDvpWgvde",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        220
      ],
      "id": "77a32183-a89f-4503-ab90-f2ae7af386a2",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        980,
        20
      ],
      "id": "a0ac1b4b-fdc1-4196-81e7-2a3af8a7afb6",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "280fe989-687e-4602-9ffa-b371c55c6baa",
              "leftValue": "={{ $json.name }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "50ed5439-eb0c-4caf-a311-18aab48d88ae",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1gqocYOA0WG5vphsMZquLikvt0FgZ9JlK",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gqocYOA0WG5vphsMZquLikvt0FgZ9JlK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        0
      ],
      "id": "2e949e7c-ce35-4f2a-9661-e18fad152861",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7HhH4eDXDvpWgvde",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "29b17536-259a-4ef3-a7d0-c8a955996691",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1fb38a2959f61b0a94f97a88069729458463416992ea70b369958f279a95ba8"
  },
  "id": "HLgePAGk4o1VhxSJ",
  "tags": []
}